@charset 'UTF-8';

/* Configuração global do CSS */

* {
    margin: 0px;
    padding: 0px;

    font-family: var(--fonte-padrao);
}

/* Variaveis do Arquivo CSS */

:root {
    --cor0: black;
    --cor1: white;
    --cor3: gray;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: ;
    --fonte-secundaria: ;
}

/* Configuração - Cordel Moderno */

header {
    background-color: var(--cor0);
    color: var(--cor1);

    font-size: 1.5em;
    padding: 8%;
    text-align: center;
}

header > p {
    font-size: 0.8em;
}

/* Configuração - Link - Por Milton Duarte */

 p > a {
    color: var(--cor1);
    text-decoration: none;
 }

 a:hover {
    text-decoration: underline;
 }

 /* Configuração dos Locais do Texto */

 section#container {
    background-color: blueviolet;
    height: 500px;
    position: relative;
    padding: 10px;
 }

 article#conteudo {
    background-color: yellowgreen;
    position: absolute;
    height: 340px;
    width: 400px;

    left: 5%;
    top: 5%;
 }

 /* configurações do Textos dentro do Container */

 article > p {
    display: block;
    text-align: left;
    font-size: 2em;
    line-height: 2em;
    border: 1px solid black;
 }

 /* Configurando Primeiro Paragrafo */